    <footer>
      <div class="emailLink">
        <div class="email"><a href="mailto:radioavance@hotmail.com">radioavance@hotmail.com</a></div>
      </div>
      <div class="spacer"></div>
      <a class="win" href="https://eu3.radioboss.fm:2199/tunein/ge7byhhyt.pls" target="_blank">Winamp</a>
      <a class="wmp"href="https://eu3.radioboss.fm:2199/tunein/ge7byhhyt.asx" target="_blank">WMPlayer</a>
      <a class="itun" href="https://eu3.radioboss.fm:2199/tunein/ge7byhhyt.pls" target="_blank">iTunes</a>
    </footer>